---
title: Carla | Instructors | Danceformation Inc.

hero: 
  title: Carla Perkins
  background: https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11
  background_position: center right
  button: Schedule a Lesson with Carla
  button_link: /contact
---

<%= partial(:'partials/stats', :locals => { 
    :stat_one_title => "favorite dance",
    :stat_one => "waltz",

    :stat_two_title => "you can usually find me",
    :stat_two => "jamming out",

    :stat_three_title => "years instructing",
    :stat_three => "15",
}) %>


<%= partial(:'partials/info', :locals => { 
    :heading => "mi piace gli spaghetti",
    :paragraph => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
}) %>

<section class="gallery container">
    <h2 class="text-center margin-top margin-bottom">Gallery</h2>

    <div class="col-sm-6 col-xs-12 pad-left-less pad-right-less pad-bottom">
        <a data-lightbox="gallery" href="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
        </a>
    </div>
    <div class="col-sm-6 col-xs-12 pad-left-less pad-right-less pad-bottom">
        <a data-lightbox="gallery" href="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
        </a>
    </div>
    <div class="col-sm-6 col-xs-12 pad-left-less pad-right-less pad-bottom">
        <a data-lightbox="gallery" href="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
        </a>
    </div>
    <div class="col-sm-6 col-xs-12 pad-left-less pad-right-less pad-bottom">
        <a data-lightbox="gallery" href="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11">
        </a>
    </div>
</section>


