<footer class="footer margin-top-more">
    <div class="wrapper">
        <div class="row">
            <div class="footer-info text-left col-lg-5 col-md-5 col-sm-12">
                <p class="co-name paragraph margin-bottom-6">
                    danceformation inc.
                </p>
                <p class="info">919.555.5555<br>domain@email.com</p>
                <p class="info">2113 Brewer St. Raleigh, NC 27608</p>
                <p>
                    <a href="twitter.com" class="social-icon"><img src="/images/tw-icon.png"></a>
                    <a href="facebook.com" class="social-icon"><img src="/images/fb-icon.png"></a>
                </p>
            </div>
        </div>
    </div>
    <div class="lower-foot">
        <p class="float-left">
            copyright danceformation inc 2016
        </p>
    </div>
</footer>
