<header class="header container-fluid float-clear">
    <div class="header-wrap margin-auto">
        <a href="/"><div class="logo">
            danceformation inc.
        </div></a>
        <nav class="float-right">
            <ul>
                <li>
                    <a href="/studio/"> studio </a>
                </li>
                <li>
                    <a href="/instructors/"> instructors </a>
                </li>
                <li>
                    <a href="/programs/"> programs </a>
                </li>
                <li>
                    <a href="/contact/"> contact </a>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            more
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/calendar/"> full calendar </a>
                            <hr>
                            <a class="dropdown-item" href="https://www.facebook.com/DanceformationInc/" target="_blank"> facebook </a>
                            <!-- <a class="dropdown-item" href="https://twitter.com/dfidance" target="_blank"> twitter </a> -->
                            <hr>
                            <a class="dropdown-item" href="/"> home </a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
