<div class="testimonial-one testimonial col-lg-12 col-md-12 col-sm-12 col-xs-12 float-clear">
    <div class="testimonial-wrap">
        <div class="circle">
            <img src="/assets/temp_square.png" alt="temp">
        </div>
        <h2 class="name">
            @@name
        </h2>
        <p class="paragraph">
            @@paragraph
        </p>
    </div>
</div>