<section class="instructor-stats container-fluid section-gray text-center">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="section-title margin-bottom-1">
                    @@stat-one
                </h2>
                <p class="paragraph">
                    @@stat-one-title
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="section-title margin-bottom-1">
                    @@stat-two
                </h2>
                <p class="paragraph">
                    @@stat-two-title
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="section-title margin-bottom-1">
                    @@stat-three
                </h2>
                <p class="paragraph">
                    @@stat-three-title
                </p>
            </div>
        </div>
    </div>

</section>
