---
title: Contact | Danceformation Inc.

hero: 
  title: Contact Us
  background: https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/33028729_1659488510835223_937077978980941824_n.jpg?_nc_cat=0&oh=b267604bdf9ed8fad615b4567f8cc54d&oe=5BFFA43F
  background_position: top
---

<section class="contact-form container">
    <div class="wrapper">
        <p class="paragraph text-center margin-bottom-6">
            Fields with <span class="section-title">*</span> next to them are required.
        </p>
        <form class="" action="https://formspree.io/tylerre95@gmail.com" method="POST">
            <div class="form-group margin-bottom-5">
                <label class="paragraph" for="Name">Name<span class="section-title">*</span></label>
                <input class="form-control" type="text" name="Name" placeholder="">
            </div>
            <div class="form-group margin-bottom-5">
                <label class="paragraph" class="section-title" for="Email">Email<span class="section-title">*</span></label>
                <input class="form-control" type="email" name="Email" placeholder="">
            </div>
            <div class="form-group margin-bottom-5">
                <label class="paragraph" for="Reason">Why are you contacting us?</label>
                <select class="form-control gray" name="Reason">
                    <option value="null">Select one...</option>
                    <option value="general_inquiry">General Inquiry</option>
                    <option value="reach_out_to_an_instructor">Reach out to an Instructor</option>
                    <option value="wedding">Choreograph a Wedding Dance</option>
                    <option value="private_party">Rent the Studio for a Private Party</option>
            </select>
            </div>
            <div class="form-group margin-bottom-5">
                <label class="paragraph" for="Body">What else do you want us to know?</label>
                <textarea name="Body" rows="5" class="form-control" placeholder=""></textarea>
            </div>

            <input type="submit" value="Send it already!" role="Submit" class="submit-contact-form btn-light-fill">
            </button>
        </form>

        <div class="sent margin-top-5 text-center paragraph"></div>
    </div>
</section>
