/* brand colors */
$brand-white: #FAF8F3;
$brand-gray: #EFE9E9;
$brand-lightblue: #16F0CD;
$brand-darkblue: #08213a;
$brand-black: #4A4A4A;

/* secondary colors */
$page-film: #141414; // add transparentize

/* fonts */
$open-sans-stack: 'Open Sans', 'Calibri Light', sans-serif;
$oswald-stack: 'Oswald', Arial, sans-serif;
