---
title: Danceformation Inc.

hero:
  title: Welcome to our Studio
  subtitle: Danceformation Inc. is the premier ballroom and latin studio in Cary, NC.
  background: https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/31749572_1639928052791269_7967641453406978048_o.jpg?_nc_cat=0&oh=0d9d20f1bf89a4f473d083c41e48a567&oe=5C07E9F9
  background_position: top
---

<section class="xs-cl">
    <div class=" text-center xs-contact-upper">
        how to find us
    </div>
    <div class="xs-contact-lower section-gray float-clear">
        <div class="xs-lower-wrap margin-auto">
            <div class="info float-left">
                <h2>contact</h2>
                <p>
                    919.555.5555
                    <br>
                    carla@danceformationinc.com
                </p>
            </div>
            <div class="info float-right">
                <h2>location</h2>
                <p>
                    1 E. Edenton St.
                    <br>
                    Raleigh, NC 27608
                </p>
            </div>
        </div>
    </div>
</section>

<%= partial(:'partials/info', :locals => { 
    :heading => "howdy world",
    :paragraph => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
}) %>

<section class="home-squares container-fluid section-gray text-center">
    <div class="row">
        <a href="./studio"><div id="home-square-one" class="square col-lg-4 col-md-4 col-sm-4 col-xs-12" style="background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/36224601_1704253623025378_7282144100072030208_o.jpg?_nc_cat=0&oh=0fb4a89e4f504dc6ca983aca661333af&oe=5C00546C');">
            <div class="square-screen">
                <div class="square-title-wrap">
                    <p>see the studio</p>
                </div>
            </div>
        </div></a>

        <a href="./instructors"><div id="home-square-two" class="square col-lg-4 col-md-4 col-sm-4 col-xs-12" style="background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/23334371_1462649980519078_136270095191993937_o.jpg?_nc_cat=0&oh=e08b2c7f5c99c8e625d2be3d744981a7&oe=5BFFC3FD');">
            <div class="square-screen">
                <div class="square-title-wrap">
                    <p>instructors</p>
                </div>
            </div>
        </div></a>

        <a href="./programs"><div id="home-square-three" class="square square-narrow col-lg-4 col-md-4 col-sm-4 col-xs-12" style="background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/20157443_1361599600624117_3689059044457302967_o.jpg?_nc_cat=0&oh=4824516698e11ce7ebed452c0477fc21&oe=5BFB9DCE');">
            <div class="square-screen">
                <div class="square-title-wrap">
                    <p>programs</p>
                </div>
            </div>
        </div></a>
    </div>
</section>

<section class="testimonials container-fluid margin-top-more">
    <h2 class="text-center">Testimonials</h2>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        
        <!-- Items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="item-inner margin-top-more margin-bottom-more margin-auto">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare viverra pharetra. Praesent at fermentum ipsum. Duis id diam diam. Maecenas sed odio vitae sem sollicitudin viverra eu eu sapien. Vestibulum efficitur tortor nec quam aliquet, id faucibus nulla placerat. Mauris eget ante pharetra, tempus dolor in, mattis dolor. Etiam lacinia, sem sed facilisis aliquam, nibh neque lacinia neque, quis faucibus massa orci sit amet augue. Donec suscipit ligula ipsum, ac molestie nunc ultricies at. In convallis, eros eget mollis ultrices, nisl tellus tempus enim, a rutrum lectus magna id ex. Proin lobortis massa vitae est porta interdum.</p>
                </div>
            </div>
            <div class="item">
                <div class="item-inner margin-top-more margin-bottom-more margin-auto">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare viverra pharetra. Praesent at fermentum ipsum. Duis id diam diam. Maecenas sed odio vitae sem sollicitudin viverra eu eu sapien. Vestibulum efficitur tortor nec quam aliquet, id faucibus nulla placerat. Mauris eget ante pharetra, tempus dolor in, mattis dolor. Etiam lacinia, sem sed facilisis aliquam, nibh neque lacinia neque, quis faucibus massa orci sit amet augue. Donec suscipit ligula ipsum, ac molestie nunc ultricies at. In convallis, eros eget mollis ultrices, nisl tellus tempus enim, a rutrum lectus magna id ex. Proin lobortis massa vitae est porta interdum.</p>
                </div>
            </div>
            <div class="item">
                <div class="item-inner margin-top-more margin-bottom-more margin-auto">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare viverra pharetra. Praesent at fermentum ipsum. Duis id diam diam. Maecenas sed odio vitae sem sollicitudin viverra eu eu sapien. Vestibulum efficitur tortor nec quam aliquet, id faucibus nulla placerat. Mauris eget ante pharetra, tempus dolor in, mattis dolor. Etiam lacinia, sem sed facilisis aliquam, nibh neque lacinia neque, quis faucibus massa orci sit amet augue. Donec suscipit ligula ipsum, ac molestie nunc ultricies at. In convallis, eros eget mollis ultrices, nisl tellus tempus enim, a rutrum lectus magna id ex. Proin lobortis massa vitae est porta interdum.</p>
                </div>
            </div>
        </div> 

        <!-- Menu -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

    </div>

</section>
 