---
title: Instructors | Danceformation Inc.

hero: 
  title: Instructors
  background: https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31693265_1639931536124254_4739753108446380032_n.jpg?_nc_cat=0&oh=d60b4cd40e7a15c0742d07264518140a&oe=5BFF6E84
  background_position: top
  button: Schedule a Lesson
  button_link: /contact
---

<%= partial(:'partials/info', :locals => { 
    :heading => "We are the best",
    :paragraph => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
}) %>

<section class="programs-list container float-clear">
    <div class="program margin-auto margin-bottom float-clear">
        <div class="img-wrap float-left">
            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/20431706_1374064536044290_1009720085467711872_n.jpg?_nc_cat=0&oh=17bef20bd11171560bf617aa0c577195&oe=5BF96B11" alt="">
        </div>

        <div class="program-info float-right">
            <h2 class="section-title">Carla</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="./carla"><button class="btn-light-fill">
                learn more about carla
            </button></a>
        </div>
    </div>
    
    <div class="program margin-auto margin-bottom float-clear">
        <div class="program-info float-left">
            <h2 class="section-title">Daniel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="./daniel"><button class="btn-light-fill">
                learn more about daniel
            </button></a>
        </div>
        <div class="img-wrap float-right">
            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31693265_1639931536124254_4739753108446380032_n.jpg?_nc_cat=0&oh=d60b4cd40e7a15c0742d07264518140a&oe=5BFF6E84" alt="">
        </div>

    </div>
</div>